/*Estilos generales*/

:root{
    --bg-layout:white;
    --color-primary: #1f87c4;
    --color-text-logo:white;
    --bg-nav:#333333;
    --color-link:white;
    --color-shadow:#b7b4b4;
}

html{
    font-size: 10px;

}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/cielo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.layout{
    display: grid;
    grid-template-areas:
        'header header'
        'slider slider'
        'main aside';
    grid-template-columns: 70% 30%;
    max-width: 128rem;
    background-color: var(--bg-layout);
    padding: 3rem;
    margin: 2rem auto;
}

/*Estilos de la cabecera*/

.layout_header{
    grid-area: header;
    margin-bottom: 2rem;
}

.header_logo{
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--color-primary);
}
.logo_text{
    color: var(--bg-layout);
    font-size: 5rem;
}
.header_nav{
    width: 100%;
    height: 5rem;
    background-color: var(--bg-nav);
    padding: 0 2rem;
}

.nav_list {
    list-style: none; 
    padding: 0;       
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.list_link{
    height: 100%;
    color: var(--color-link);
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: all 300ms linear;
}
.list_link:hover{
    background-color: var(--color-primary);
}

/*Estilos del slider*/


.layout_slider{
    grid-area: slider;
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
    border: 5px solid var(--color-text-logo);
    box-shadow: 0px 0px 5px var(--color-shadow);
    margin-bottom: 4rem;
}
.slider_btn-prev, .slider_btn-next{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 1rem;
    top: calc(50% - 2.5rem);
    z-index: 2;
    border-radius:100% ;
    border: none;
    cursor: pointer;
    background-color: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-link);
    font-size: 4rem;
}
.slider_btn-next{
    left: auto;
    right: 1rem;
}

.layout_article{
    grid-area: main;
}
.layout_aside{
    grid-area: aside;
}